<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Khan Framework</title>
</head>
<body>
	
	<div khan-controller="index">
	   <h1 onClick="{{ '$changeNome(this)' }}">Testando Khan {{ $nome }}</h1>
	</div>  
	
	<script src="build/khan.min.js"></script>
	<script>

		let khan = new $khan();
		let Router = khan.Router();

		khan.set('ola', 'nome');
		khan.use(function(next){
			this.msg = 'Ola mundo!!';
			next();
		});
		khan.use(Router);

		Router.any('/', function(){
			
			khan.$controller('index', function($scope){

				this.nome = "PaulaoDev";

				this.changeNome = function($e){
					if(!$e.classList.contains('clicado')){
						$e.classList.add('clicado');
						$e.innerHTML += " Cliquei!!";
					}
				}.bind(this);

				setTimeout(function(){
					this.nome = "PaulaoDeveloper";
				}.bind(this), 3000);

				this.render();

			});

			document.body.innerHTML += `Testando middleware ${this.msg}`;
		
		});

		Router.any('/pagina/{id}', function(pagina_id){
			document.body.innerHTML += `Pagina recebeu id: ${pagina_id}`;
		});

		khan.listen();

	</script>
</body>
</html>